
.Hero-Section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 8vw;
  padding: 4rem 2rem;

  max-width: 1400px;
  margin: auto;
  font-family: 'Arial', sans-serif;
}

.Hero-section1 {
  max-width: 600px;
  flex: 1 1 300px;
}

.Hero-section1 h1 {
  font-size: 36px;
  margin-bottom: 0.8rem;
}

.Hero-section1 h2 {
  font-size: 28px;
  margin-bottom: 1.2rem;
}

.texts p {
  font-size: 1.125rem;
  color: #333;
  line-height: 1.6;
  margin-bottom: 1.5rem;
}

.hero-image {
  width: 50vh;
  height: 50vh;
  max-width: 600px;
  border-radius: 10px;
  margin-top: 20px;
  object-fit: cover;
  flex: 1 1 300px;
}

@media (max-width: 768px) {
  .Hero-Section {
    flex-direction: column;
    height: auto;
    padding-bottom: 5vh;
    text-align: center;
  }

  .hero-image {
    display: none;
  }
}


.hero-btn {
  margin-top: 1.5rem;
  padding: 0.75rem 2.2rem;
  font-size: 20px;
  width: fit-content;
  max-width: 100%;
  background-color: #FF8C5B;
  color: rgb(255, 252, 252);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.3s ease;
}

.hero-btn:hover {
  background-color: #e87749;
}

@media (max-width: 480px) {
  .hero-btn {
    width: 100%;
    text-align: center;
  }
}
