.card-list-wrapper {
  width: 100%;

  padding: 20px;
  
  box-sizing: border-box;

  border-top: 1px solid #ccc;
 
  border-radius: 8px;
  background-color: #fff;


  border-bottom: none; 

  box-shadow: 0 -5px 10px -5px rgba(0, 0, 0, 0.15);
}

.card-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 30px;
  width: 100%;
  box-sizing: border-box;
  padding: 10px 5px;
}

@media (max-width: 768px) {
  .card-list {
    gap: 20px;
    padding: 8px;
  }

  .card-list-wrapper {
    padding: 10px;
  }
}
