.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  margin: 20px;

  gap: 7dvw;
}

.header::before {
  content: "";
  flex: 1;
}

.year-filters {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px 0;
  flex-wrap: wrap;
}

.year-box {
  background: linear-gradient(135deg, #FFEEC5, #FFD9EC);
  color: #9F1776;
  padding: 10px 20px;
  border-radius: 12px;
  font-weight: bold;
  font-size: 1.1rem;
  cursor: pointer;
  transition: all 0.2s ease;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  border: 2px solid transparent;
}

.year-box:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.year-box.active {
  border: 2px solid #9F1776;
  background: #FFF2DC;
  box-shadow: 0 0 10px rgba(159, 23, 118, 0.4);
}

.country-dropdown {
  padding: 10px 15px;
  border-radius: 10px;
  border: 1.5px solid #ccc;
  background: #fff7ec;
  color: #9F1776;
  font-weight: 600;
  font-size: 1rem;
  outline: none;
  transition: all 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.08);
  max-width: 100%;
  overflow-x: hidden;
  text-overflow: ellipsis;
}



.country-dropdown:focus,
.country-dropdown:hover {
  border-color: #9F1776;
  box-shadow: 0 0 8px rgba(159, 23, 118, 0.25);
}

.search-wrapper {
  position: relative;
  width: 300px;
}
@media (max-width: 900px) {
  .header {
    gap:3dvw;
  }
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: stretch;
    gap: 15px;
  }

  .search-wrapper {
    width: 100%;
  }

  .year-filters {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }

 .country-dropdown {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
  }
}
.loading {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  padding: 50px;
  color: #444;
}