.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px;
  flex-wrap: wrap;
  gap:  8.5dvw;
}

.header::before {
  content: "";
  flex: 1;
}

.year-filters {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex: 1;
}

.search-wrapper {
  position: relative;
  width: 300px;
}

.year-box {
  background-color: #FFEEC5;
  color: #9F1776;
  padding: 12px 25px;
  border-radius: 8px;
  font-weight: 700;
  font-size: 1.2rem;
  cursor: pointer;
  user-select: none;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 50px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.year-box:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.year-box.active {
  border: 2px solid #9F1776;
  box-shadow: 0 0 10px #9F1776;
}

@media (max-width: 768px) {
  .year-filters {
    display: none;
  }
}
